<div class="sidebar">
    <img data-tip="Painel" data-place="right" src="assets/svg/home.svg" class="current_page" width="40" alt="Painel"
        currentitem="false">

    <a href="https://github.com/juniorpaiva95/angular-cv19tracker" rel="noopener noreferrer" target="_blank"
        data-tip="Código fonte" data-place="right" currentitem="false">
        <img src="assets/svg/github.svg" width="25" alt="Código fonte">
    </a>
    <img data-tip="Alterar tema" data-place="right" src="assets/svg/darkmode.svg" width="30" title="Change theme"
        alt="Alterar tema" currentitem="false" (click)="toggleTheme()">
</div>