@import './resets';
@import './variables';

@import './colors';

@import './components/sidebar';
@import './components/footer';
@import './components/card';

.main-content {
    margin-left: 230px;
    padding: 50px 0;
}
a {
    color: $yellow;
    &:hover {
        color: darken($color: $yellow, $amount: 5);
        text-decoration: none;
    }
    
}