@import './resets';
@import './variables';

//Colors
@import './colors';

//Componentes
@import './components/sidebar';
@import './components/footer';
@import './components/card';

.main-content {
    padding-left: 5rem;
    margin: 0 50px;
}
a {
    color: $yellow;
    &:hover {
        color: darken($color: $yellow, $amount: 5);
        text-decoration: none;
    }
    
}