.cv-card {
    width: 250px;
    height: 100px;
    background-color: #262626;
    text-align: center;
    border-radius: 7px;
    padding: 5px;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease;
    animation-name: cards;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-fill-mode: both;
}