<cv-sidebar></cv-sidebar>

<main class="main-content">

  <section class="intro">
    <h1>Painel Coronavírus</h1>
    <span class="text-muted">Dados atualizados diariamente</span>

  </section>
  
  <section class="d-flex justify-content-start flex-wrap">
    <cv-card [class]="'confirmed'" data-toggle="tooltip"
    data-placement="top" title="Casos totais confirmados">
      <h6 style="font-weight: 400;">Casos confirmados</h6>
      <h5 style="font-weight: 400;">{{ worldStatistics?.TotalConfirmed }}</h5>
    </cv-card>
    <cv-card [class]="'recovered'" data-toggle="tooltip"
    data-placement="top" title="Casos totais recuperados">
      <h6 style="font-weight: 400;">Casos recuperados</h6>
      <h5 style="font-weight: 400;">{{ worldStatistics?.TotalRecovered }}</h5>
    </cv-card>
    <cv-card [class]="'deaths'" data-toggle="tooltip"
    data-placement="top" title="Casos totais de óbitos confirmados">
      <h6 style="font-weight: 400;">Óbitos confirmados</h6>
      <h5 style="font-weight: 400;">{{ worldStatistics?.TotalDeaths }}</h5>
    </cv-card>
  </section>
</main>

<cv-footer></cv-footer>
