<cv-sidebar></cv-sidebar>

<main class="main-content">

  <section class="intro">
    <h1>Painel Coronavírus</h1>
    <span class="text-muted">Dados atualizados diariamente</span>

  </section>
  
  <section class="d-flex justify-content-start flex-wrap">
    <cv-card>
      <h6 style="font-weight: 400;">Casos confirmados</h6>
      <h5 style="font-weight: 400;">23644647</h5>
    </cv-card>
    <cv-card>
      <h6 style="font-weight: 400;">Casos recuperados</h6>
      <h5 style="font-weight: 400;">23644647</h5>
    </cv-card>
    <cv-card>
      <h6 style="font-weight: 400;">Óbitos confirmados</h6>
      <h5 style="font-weight: 400;">23644647</h5>
    </cv-card>
  </section>
</main>

<cv-footer></cv-footer>
